/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal-content {
  background-color: #222;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  color: white;
}
.close {
  color: white;
  float: right;
  font-size: 24px;
  cursor: pointer;
}
#acciones {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
